* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    font-weight: 1100px;
    margin: auto;
    position: relative;
}

.logo {
    font-size: 3vw;
    font-weight: bold;
    margin-left: 0px;
    float: left;
    font-family: 'Montserrat';
    color: white;
}

.menu {
    float: right;
    margin-left: 450px;
}

nav {
    width: 100%;
    margin: auto;
    font-size: 1.5vw;
    display: flex;
    line-height: 60px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: violet;
    z-index: 1;
    border-bottom: 5px solid rgb(255, 170, 245);
    font-family: 'poppins';
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins';
    color: #16213E;
}

h2 {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 35px;
    margin-top: 0%;
    margin-bottom: 20px;
    color: #16213E;
    width: 100%;
    line-height: 15px;
}

a.tbl-biru {
    background: purple;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: rgb(255, 170, 245);
    text-decoration: none;
}

a.tbl-pink {
    background: purple;
    border-radius: 75px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: rgb(255, 170, 245);
    text-decoration: none;
}

a.tbl-lain{
    background: purple;
    border-radius: 75px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-lain:hover {
    background: rgb(255, 170, 245);
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
    margin-block: 100px;
    margin-top: 20px;
    font-family: 'lato';
}

.tengah2 {
    text-align: center;
    width: 100%;
    font-family: 'comic sans ms';
}

.ukuran1 {
    font-size: 27px;
    font-family: 'Poppins';
}

a.bttn {
    background-color: transparent;
    border-radius: 0px;
    cursor: pointer;
    color: purple;
}
a.bttn:hover {
    color: violet;
}

.ukuran2 {
    font-size: 27px;
    font-family: 'Poppins';
}

.gaya {
    font-size: 27px;
  }

.table-container {
    margin: 40px auto 0;
    padding: 0 10%;
}

.heading {
    font-size: 27px;
    text-align: center;
    margin-bottom: 25px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    background-color: violet;
}

.table thead tr th {
    font-size: 14px;
    font-weight: medium;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px  solid violet;
}

.table tbody tr td {
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: black;
    background-color: white;
    padding: 8px;
    text-align: center;
    border: 1px solid violet;
}

.table .tbody tr td .btn {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: block;
    font-weight: medium;
    text-align: center;
    background-color: violet;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
}

a.btn {
    background: violet;
    border-radius: 0px;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.btn:hover {
    background: purple;
    text-decoration: none;
}

@media (max-width: 768px){
    .table thead {
        display: none;
    }
    .table .table tbody,.table tr,.table td {
        display: block;
        width: 100
    }
    .table tr {
        margin-bottom: 15px;
    }
    .table tbody tr td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600px;
        font-size: 14px;
        text-align: left;
    }
}